:host {
  display: block;
}
p {
  line-height: 1.5;
  padding: 8px 15px;
  border: 1px solid transparent;
  font-size: 14px;
  font-family: sans-serif;
}
p.info{
  background-color: #e6f7ff;
  border-color: #91d5ff;
}
p.success {
  background-color: #f6ffed;
  border-color: #b7eb8f;
}
p.error {
  background-color: #fff1f0;
  border-color: #ffa39e;
}
p.hide {
  display: none;
}